<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>
<body>

<header>
 my journal
</header>
<nav>
    <ul>
        <li>
            <a href="/journal">home </a>

        </li>
        <li>
            <a href="/auth">home</a>
        </li>
    </ul>
    <l
</nav>
<main>
    <form action="login", method="post">
        <label for="username">
            <input id="username" type="text" name="username">
        </label>
        <label for="password">
            <input id="password" type="password" name="password">
        </label>
        <input type="submit">
    </form>

</main>

<footer><address>afheisleycook</address></footer>
</body>
</html>