<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>
<body>

<header>
 my journal
</header>
<nav>
    <ul>
        <li>
            <a href="/journal">home </a>

        </li>
        <li>
            <a href="/auth">auth</a>
        </li>
        <li>
            <a href="/logout">logout</a>
        </li>
        <li>
            <form action="/journal/search" method="get">
            <input type="search" 
                name="title" 
                placeholder="Search" 
                value="Search"
                   name="id"
                   >
        </li>
    </ul>
</nav>
<main>
    {% block code %}
    {% if not session["username"] %}

    <form action="login", method="post">
        <label for="username">
            username
            <input id="username" type="text" name="username">
        </label>
        <br>
        <label for="password">
            password
            <input id="password" type="password" name="password">
        </label>
        {% if error %}
           {{errorr}}
        {% endif %}


        <input type="submit" value="login">
    </form>
    {% elif session["username"]  %}  %}
        <form method="post" action="/post">
            <label for="title">
                title
                <input id="title" type="text" name="title">
            </label>
            <br>
            <label for="description">
                description
                <textarea id="description" type="text" name="description"></textarea>
            </label>
            <br>
            <input type="submit" value="post">
        </form>
    {% endif %}
    

   
    {% endblock %}


</main>

<footer><address>afheisleycook</address></footer>
</body>
</html>