<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

<header>
 my journal
</header>
<nav>
    <ul>
        <li>
            <a href="/journal">honme </a>

        </li>
        <li>
            <a href="/auth">home</a>
        </li>
    </ul>
</nav>
<main>
    <form>
        <label for="username">
            <input id="username" type="text" name="username">
        </label>
        <label for="password">
            <input id="password" type="password" name="password">
        </label>
    </form>

</main>

<footer><address>afheisleycook</address></footer>
</body>
</html>